.calculate {
    width: 300px;
    height: 400px;
    background-color: rgb(224, 224, 224);
    border-radius: 5%;
    padding-top: 10px;
}

.calculate__button_wrapper {
    display: flex;
    justify-content:center;
}

.calculate .calculate__tablo {
    width: 250px;
    height: 40px;
    background-color: #FFFF;
    margin: 0 auto;
}

.calculate__button {
    background: url("../img/button.svg") center center/cover no-repeat;
    width: 51px;
    height: 41px;
    border-style: none;
    cursor: pointer;
    margin-left: 7px;

}

.calculate__button:hover {
    width: 48px;
    height: 38px;
}

.clc {
    width: 100px;
    height: 100px;
    transition: 0.5s all;
    background-color: aqua;
    cursor: pointer;
} 


.crlce {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: #ff6363;
    border-radius: 100%;
    border: #3d3d3d solid 1px;
}

.crlce::before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #100303;
    transition: 0.5s all;
}

.crlce:hover:before{
    width: 100%;
}

.crlce:nth-child(odd) {
    background-color: #25cfb8;
}