.calculate {
    width: 300px;
    height: 400px;
    background-color: rgb(224, 224, 224);
    border-radius: 5%;
    padding-top: 10px;
}

.calculate__button_wrapper {
    display: flex;
    justify-content:center;
}

.calculate .calculate__tablo {
    width: 250px;
    height: 40px;
    background-color: #FFFF;
    margin: 0 auto;
}

button.calculate__button {
    background: url("../img/button.svg") center center/cover no-repeat;
    width: 51px;
    height: 41px;
    border-style: none;
    cursor: pointer;

}