* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgb(219, 36, 60);
    border: 2px solid green;
    margin: 20px;
    border-radius: 5%;
}

h1 {
    text-align: center;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 500px;
}